/****************************** CHANGE LAYOUT BUTTONS *******************************/
/* Default dropdown button */
.dropdown {
  .dropdown__toggle {
    position: relative;
    display: flex;
    padding: 0 0.5em;
    align-items: center;
    border: none;
    border-radius: 1em;
    background-color: var(--secondary-1);
    cursor: pointer;

    .masonryContainer {
      display: grid;
      place-items: center;
      width: 2.5em;
      height: 2.5em;
    }

    .downArrow {
      width: 2em;
      margin-left: -0.75em;
      fill: var(--accent-secondary);
      opacity: 0.3;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  &:focus,
  &:focus-within {
    .dropdown__toggle {
      background-color: var(--secondary-2);
    }

    .dropdown__drawer {
      display: block;
      // background-color: var(--secondary-2);
    }

    .downArrow {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &.is-open {
    .dropdown__drawer {
      display: block;
    }
    .downArrow {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

/* dropdown container */
.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.7em;
  background-color: var(--secondary-1);
  z-index: 30;
  border-radius: 1em;

  .menu {
    margin: 0;
    // box-shadow: 0 2px 4px 0;

    li {
      display: block;
      padding: 0.5em 1.5em;
      background-color: unset;
      text-decoration: none;
      cursor: pointer;

      svg {
        width: 4.5em;
        height: 4.5em;
      }
    }

    li + li {
      border-top: 1px solid var(--accent-primary);
    }

    *:first-child {
      border-radius: 1em 1em 0 0;
    }
    *:last-child {
      border-radius: 0 0 1em 1em;
    }

    li:hover,
    li:focus {
      background-color: var(--secondary-2);
    }
  }
  /* SVG menu modifier */
  .menu--svg > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 0.3em 0.25em 0 0.25em;
  }

  .menu--svg > li > p {
    font-weight: 400;
  }
}

/**********************************  MENU MODULE  **********************************/
