/****************************** CHANGE LAYOUT BUTTONS *******************************/
/* Default dropdown button */
.dropdown .dropdown__toggle {
  position: relative;
  display: flex;
  padding: 0 0.5em;
  align-items: center;
  border: none;
  border-radius: 1em;
  background-color: var(--secondary-1);
  cursor: pointer;
}
.dropdown .dropdown__toggle .masonryContainer {
  display: grid;
  place-items: center;
  width: 2em;
  height: 2em;
}
.dropdown .dropdown__toggle .downArrow {
  width: 1.8em;
  margin-left: -0.75em;
  fill: var(--accent-secondary);
  opacity: 0.3;
}
.dropdown .dropdown__toggle .downArrow:hover {
  transform: scale(1.1);
  opacity: 1;
}
.dropdown.is-open .dropdown__toggle {
  background-color: var(--secondary-2);
}
.dropdown.is-open .dropdown__drawer {
  opacity: 1;
  width: unset;
  overflow: unset;
}
.dropdown.is-open .dropdown__drawer li {
  width: unset;
}
.dropdown.is-open .dropdown__drawer li p {
  width: unset;
}
.dropdown.is-open .downArrow {
  transform: scale(1.1);
  opacity: 1;
}

/* dropdown container */
.dropdown__drawer {
  position: absolute;
  width: 0;
  left: 0;
  top: 2.7em;
  z-index: 30;
  overflow: hidden;
  background-color: var(--secondary-1);
  border-radius: 1em;
}
.dropdown__drawer .menu {
  margin: 0;
}
.dropdown__drawer .menu li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 0;
  padding: 0;
  background-color: unset;
  text-decoration: none;
  cursor: pointer;
}
.dropdown__drawer .menu li svg {
  width: 4.5em;
  height: 4.5em;
}
.dropdown__drawer .menu li p {
  width: 0;
  padding: 0 1em 0;
}
.dropdown__drawer .menu li + li {
  border-top: 1px solid var(--accent-primary);
}
.dropdown__drawer .menu *:first-child {
  border-radius: 1em 1em 0 0;
}
.dropdown__drawer .menu *:last-child {
  border-radius: 0 0 1em 1em;
}
.dropdown__drawer .menu li:hover,
.dropdown__drawer .menu li:focus {
  background-color: var(--secondary-2);
}