/**********************************  WIDGETBAR MODULE  **********************************/
/* default widgetbar */
.widgetBar {
  display: flex;
  align-items: center;
  padding: 0.25em;
  justify-content: flex-start;
  background-color: var(--secondary-1);
  border-radius: 1em;
  border: none;
  height: 2rem;
}

/****************************** DROPDOWN BUTTON *******************************/
/* Default dropdown button */
.dropdown {
  display: inline-block;
  position: relative;
  background-color: var(--secondary-1);
  right: 1em;
  height: 2rem;
}
.dropdown__toggle {
  // padding: 0.5em 2em 0.5em 1.5em;
  border: none;
  background-color: inherit;
  cursor: pointer;
  height: 2rem;
}
/* dropdown container */
.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1em;
  min-width: 100%;
  background-color: inherit;
  z-index: 30;
}
/* change the direction of the CSS border arrow if the dropdown menu is visible */
.dropdown.is-open .dropdown__toggle::after {
  top: 0.55em;
  border-color: transparent transparent var(--dark-text);
}
.dropdown.is-open .dropdown__drawer {
  display: block;
}
/* SVG class modifier */
.dropdown--svg svg {
  width: 1.5em;
  height: 1.5em;
}
.dropdown--svg .dropdown__toggle {
  padding: 0.2em 0.75em 0;
}

/**********************************  MENU MODULE  **********************************/
/* Default menu */
.menu {
  margin: 0;
  box-shadow: 0 2px 4px 0;
}
.menu > li + li {
  border-top: 1px solid var(--accent-primary);
}
.menu > li {
  display: block;
  padding: 0.5em 1.5em;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.menu > li:hover {
  background-color: var(--accent-primary);
}
/* SVG menu modifier */
.menu--svg > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 0.3em 0.25em 0 0.25em;
}

.menu--svg > li > p {
  font-weight: 400;
}
