/****************************** CHANGE LAYOUT BUTTONS *******************************/
/* Default dropdown button */
.dropdown .dropdown__toggle {
  position: relative;
  display: flex;
  padding: 0 0.5em;
  align-items: center;
  border: none;
  border-radius: 1em;
  background-color: var(--secondary-1);
  cursor: pointer;
}
.dropdown .dropdown__toggle .masonryContainer {
  display: grid;
  place-items: center;
  width: 2.5em;
  height: 2.5em;
}
.dropdown .dropdown__toggle .downArrow {
  width: 2em;
  margin-left: -0.75em;
  fill: var(--accent-secondary);
  opacity: 0.3;
}
.dropdown .dropdown__toggle .downArrow:hover {
  transform: scale(1.1);
  opacity: 1;
}
.dropdown:focus .dropdown__toggle, .dropdown:focus-within .dropdown__toggle {
  background-color: var(--secondary-2);
}
.dropdown:focus .dropdown__drawer, .dropdown:focus-within .dropdown__drawer {
  display: block;
}
.dropdown:focus .downArrow, .dropdown:focus-within .downArrow {
  transform: scale(1.1);
  opacity: 1;
}
.dropdown.is-open .dropdown__drawer {
  display: block;
}
.dropdown.is-open .downArrow {
  transform: scale(1.1);
  opacity: 1;
}

/* dropdown container */
.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.7em;
  background-color: var(--secondary-1);
  z-index: 30;
  border-radius: 1em;
  /* SVG menu modifier */
}
.dropdown__drawer .menu {
  margin: 0;
}
.dropdown__drawer .menu li {
  display: block;
  padding: 0.5em 1.5em;
  background-color: unset;
  text-decoration: none;
  cursor: pointer;
}
.dropdown__drawer .menu li svg {
  width: 4.5em;
  height: 4.5em;
}
.dropdown__drawer .menu li + li {
  border-top: 1px solid var(--accent-primary);
}
.dropdown__drawer .menu *:first-child {
  border-radius: 1em 1em 0 0;
}
.dropdown__drawer .menu *:last-child {
  border-radius: 0 0 1em 1em;
}
.dropdown__drawer .menu li:hover,
.dropdown__drawer .menu li:focus {
  background-color: var(--secondary-2);
}
.dropdown__drawer .menu--svg > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 0.3em 0.25em 0 0.25em;
}
.dropdown__drawer .menu--svg > li > p {
  font-weight: 400;
}

/**********************************  MENU MODULE  **********************************/