/*******************************************************************  GENERAL STYLES SECTION START  *******************************************************************/
/* color palette and general fonts */
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
  font-family: 'Mulish', sans-serif;
  // --main-1: #cdb4db;
  // --main-2: #ffc8dd;
  // --main-3: #ffafcc;
  // --secondary-1: #dae0e6;
  // --secondary-2: #a2d2ff;
  // --secondary-3: #4285f4;
  --main-1: #edf2f4;
  --main-2: #dbe0e6;
  --main-3: #8d99ae;
  --main-4: #2b2d42;
  --secondary-1: #ee8b98;
  --secondary-2: #ef233c;
  --secondary-3: #d90429;
  --success: #248232;
  --info: #084887;
  // --main-1: #eae4e9;
  // --main-2: #fff1e6;
  // --main-3: #fde2e4;
  // --secondary-1: #fad2e1;
  // --secondary-2: #e2ece9;
  // --secondary-3: #bee1e6;
  // --tertiary-1: #f0efeb;
  // --tertiary-2: #dfe7fd;
  // --tertiary-3: #cddafd;
  --accent-primary: #999;
  --accent-secondary: #2d2e2f;
  --light-text: #fff;
  --grey-text: #606060;
  --dark-text: #000;
  --danger: #e75b68;
  --rating: #ffea37;
  --transparent: #ffffff00;
  --dark-transparent: #0000007f;
  font-weight: 400;
}
*,
::before,
::after {
  box-sizing: inherit;
  font-family: 'Mulish', sans-serif;
}
::placeholder {
  color: var(--grey-text);
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--success) !important;
  // transition: background-color 5000s ease-in-out 0s;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
form {
  margin: 0;
}

ul,
li {
  padding: 0;
}

img {
  max-width: 100%;
}
// hiding inputs that are type file, method i learned from colt steele or something i think i dont remember
input[type='file'] {
  display: none;
}
// setting some general properties
html,
body {
  padding: 0;
  height: 100%;
  width: 100%;
  line-height: 1.6;
  background-color: var(--main-1);
}
/* overriding default user agent styles of some tags */
ul {
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--dark-text);
}
form {
  padding: 0;
}
footer {
  // position: absolute;
  width: 100%;
  background-color: transparent;
  color: transparent;
  padding: 1rem 3rem 3rem 3rem;
  bottom: 0px;
  margin-top: 2rem;
}

dialog {
  // position: relative;
  border-radius: 1rem;
  background-color: var(--main-2);

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .closeModal {
    position: absolute;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path opacity='.6' fill='%23666E6E' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0.4rem;
    top: 0;
    right: 0.8rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

/*******************************************************************  UTILIITIES *******************************************************************/
.inline {
  display: inline !important;
}
.active {
  display: block !important;
}
.hide {
  display: none !important;
}
// .grid {
//   .card {
//   }
// }
.flex {
  display: flex !important;
}
.flex--center {
  display: flex !important;
  align-items: center !important;
}
.flex--centerAll {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.flex--column {
  display: flex !important;
  flex-flow: column nowrap !important;
}
.bold {
  font-weight: 600 !important;
}
.justify-end {
  margin-left: auto !important;
}
.margin-0 {
  margin: 0 !important;
}
.margin-top {
  margin-top: 1em !important;
}
.margin-right {
  margin-right: 1em !important;
}
.padding-block {
  padding: 0 1em !important;
}
.padding-0 {
  padding: 0 !important;
}
.grow-2 {
  flex: 2 !important;
}
.grow-1 {
  flex: 1 !important;
}
.order-1 {
  order: -1 !important;
}
.gap-1 {
  gap: 0.25rem !important;
}
.basis-80 {
  flex-basis: 80% !important;
}
.basis-90 {
  flex-basis: 90% !important;
}
// .absolute {
// position: absolute;
// }
.navFont {
  font-family: 'Lobster', cursive !important;
  color: var(--main-4);
}
.font-small {
  font-size: 0.75rem !important;
}
.height--100 {
  height: 100% !important;
}
.height--80 {
  height: 90% !important;
}
.width--100 {
  width: 100% !important;
}
.transparent {
  background: none !important;
}
.fill--white {
  fill: #fff !important;
}
.placeholder-light::placeholder {
  color: var(--light-text) !important;
}
.pointer {
  cursor: pointer !important;
}
.text-center {
  text-align: center !important;
}
.border {
  border: 1.5px solid var(--main-2);
  border-radius: 0.2em;
}
.white {
  color: var(--light-text);
}
.picture {
  display: flex;
  width: 2rem;
  border: 2px solid var(--secondary-1);
  border-radius: 1em;
}

/*******************************************************************  NAVBAR SECTION START  *******************************************************************/

/* Define the main Navigation block */
.navbar {
  height: 2.5rem;
  width: 100%;
  line-height: 1.6;
  background-color: var(--main-3);
  margin-bottom: 2rem;
  display: block;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
/* Define the block styling for the links */
.nav__el {
  padding: 0 1em;
  color: var(--dark-text);
  font-weight: 400;

  /* This is optional, however if you want to display the active link differently apply a background to it */
  &.active {
    background-color: var(--main-2);
  }
}

.nav__user {
  display: flex;
  align-items: center;
  padding: 0.1em 0.4em;
  position: relative;
  gap: 0.1em;

  .user,
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
  }

  &:hover .dropdown--content,
  &:focus-within .dropdown--content {
    height: min-content;
    opacity: 1;
  }
}

.dropdown--content {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: center;

  padding: 0.2em;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -3rem;
  width: 100%;
  background: var(--light-text);
  z-index: 30;

  height: 0;
  opacity: 0;

  * {
    border-radius: 0.4rem;
  }

  *:hover {
    backdrop-filter: brightness(80%);
  }

  *:focus {
    border: 1.5px solid var(--main-2);
    backdrop-filter: brightness(80%);
  }
}

.dropdown__toggle {
  padding: 0;
}
/*******************************************************************  SEARCHBAR SECTION START  *******************************************************************/
.searchbar {
  display: flex;
  background-color: inherit;
  cursor: text;
  border-radius: 1em;
  position: relative;
  height: inherit;

  // searchbar input styles
  .searchbar__form {
    flex: 1;

    .searchbar__input {
      flex: 1;
      margin: 0;
      padding: 0 0 0 0.5em;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: none;
      line-height: 2.75em;
      margin: auto 0;
      overflow: hidden;
      text-align: initial;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
      vertical-align: top;

      // styling the X button that appears when you type in the search input box
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.0912 5.63596L12 10.7271L6.90882 5.63596C6.68139 5.40853 6.34999 5.31976 6.03947 5.403C5.72894 5.48625 5.48631 5.72887 5.40307 6.0394C5.31983 6.34993 5.40861 6.68133 5.63603 6.90875L10.7272 11.9999L5.63603 17.0911C5.4086 17.3185 5.31982 17.6499 5.40307 17.9605C5.48631 18.271 5.72894 18.5136 6.03947 18.5969C6.34999 18.6801 6.6814 18.5913 6.90882 18.3639L12 13.2727L17.0912 18.3639C17.3186 18.5913 17.65 18.6801 17.9605 18.5969C18.2711 18.5136 18.5137 18.271 18.5969 17.9605C18.6802 17.6499 18.5914 17.3185 18.364 17.0911L13.2728 11.9999L18.364 6.90876C18.5914 6.68133 18.6802 6.34993 18.5969 6.0394C18.5137 5.72887 18.2711 5.48624 17.9605 5.403C17.65 5.31976 17.3186 5.40854 17.0912 5.63596Z" fill="%23ee8b98"/></svg>'); //color is fill and only works with named colors
        background-size: contain;
        cursor: pointer;
      }
      &:focus::-webkit-search-cancel-button {
        pointer-events: all;
      }
    }
  }

  // search-icon styles
  .searchbar__wrapper {
    padding: 0 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search {
      margin: auto;
      width: 24px;
    }
  }

  // transparent searchbar modifier
  &.searchbar--transparent {
    background-color: transparent;
    border: 2px solid var(--light-text);
    border-radius: 1em;
    color: var(--light-text);

    .searchbar__input {
      background-color: transparent;
      color: var(--light-text);
      border: none;
      flex: 1;

      &:focus {
        outline-color: var(--light-text);
        outline-width: 1px;
      }

      &::-webkit-search-cancel-button {
        color: var(--light-text);
        height: 24px;
        width: 24px;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.0912 5.63596L12 10.7271L6.90882 5.63596C6.68139 5.40853 6.34999 5.31976 6.03947 5.403C5.72894 5.48625 5.48631 5.72887 5.40307 6.0394C5.31983 6.34993 5.40861 6.68133 5.63603 6.90875L10.7272 11.9999L5.63603 17.0911C5.4086 17.3185 5.31982 17.6499 5.40307 17.9605C5.48631 18.271 5.72894 18.5136 6.03947 18.5969C6.34999 18.6801 6.6814 18.5913 6.90882 18.3639L12 13.2727L17.0912 18.3639C17.3186 18.5913 17.65 18.6801 17.9605 18.5969C18.2711 18.5136 18.5137 18.271 18.5969 17.9605C18.6802 17.6499 18.5914 17.3185 18.364 17.0911L13.2728 11.9999L18.364 6.90876C18.5914 6.68133 18.6802 6.34993 18.5969 6.0394C18.5137 5.72887 18.2711 5.48624 17.9605 5.403C17.65 5.31976 17.3186 5.40854 17.0912 5.63596Z" fill="white"/></svg>'); //color is fill and only works with named colors
        background-size: contain;
        cursor: pointer;
      }
    }

    .searchbar__wrapper__icon {
      opacity: 1;
    }
  }
}

/*******************************************************************  CARD SECTION START  *******************************************************************/

/* Default card used for masonry layout */
.card {
  position: absolute;
  overflow: hidden;
  margin: 0.5rem 0;
  border-radius: 20px;

  transform-origin: top;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s, height 0.25s;
  transition-timing-function: ease-out;

  &:focus {
    outline: 2px solid var(--dark-text);
    outline-offset: 2px;
  }

  &:hover .card__image__top,
  &:focus .card__image__top,
  &:focus-within .card__image__top {
    opacity: 1;
    // this is actually very hard to do so I am using the "brute force" approach because it was actually impossible to do it properly
    // transform: translateY(50%);
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover .card__image__bottom,
  &:focus .card__image__bottom,
  &:focus-within .card__image__bottom {
    opacity: 1;
    transform: translateY(-4rem);
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover .button--svg,
  &:focus .button--svg,
  &:focus-within .button--svg {
    background-color: var(--main-4);
  }
}
.card__image__top {
  display: grid;
  place-items: center;
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  padding: 1em;
  text-align: center;

  -webkit-transition: top 0.5s, background-color 1s 0.5s;
  transition: top 0.5s, background-color 1s 0.5s;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--light-text);
    line-height: 1;
    text-align: center;
    margin: 0;
  }
  a {
    color: var(--light-text);
    font-size: 0.75em;
  }
}
.card__image__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;

  color: var(--light-text);
  -webkit-transition: transform 0.5s, background-color 1s 0.5s;
  transition: transform 0.5s, background-color 1s 0.5s;
}
.card--item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: var(--secondary-1);
}

/* Modifier card of set size used in non-masonry flex layout */
.card--layout {
  display: inline-flex;
  flex-flow: row wrap;
  position: static;

  img {
    object-fit: cover;
  }
}

/* modifier for the large layout  */
.card--large img {
  height: 20em;
}
/* modifier for the small layout  */
.card--small img {
  height: 16em;
}

/* Form Card */
.card--form {
  display: inline-block;
  position: static;
  background-color: var(--main-3);
  padding: 1em;
  text-align: center;

  * + * {
    margin-top: 0.5em;
  }

  .card__body {
    padding: 0.5em 1.5em 2em;
  }

  form {
    display: flex;
    flex-flow: row wrap;

    > * {
      border: none;
      max-width: 100%;
      padding: 1em;
      border-radius: 1em;
      flex: 1 0 100%;
      font-family: inherit;
      font-size: 0.75rem;
      background-color: var(--light-text);
      vertical-align: baseline;
      text-align: center;
    }
  }
}

/* Showpage modifier */
.card--showpage {
  margin: 0;
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 80vh;
  border-radius: 0;
  overflow: hidden;

  .card__title {
    position: absolute;
    bottom: 2em;
    color: var(--light-text);
    font-size: 1.5em;
    font-weight: 800;
    z-index: 20;
    margin: 1em 1em 0;
    text-align: center;
  }

  img {
    position: absolute;
    height: 100%;
    max-width: none;
    transition: all 0.5s ease;
    z-index: 10;
    object-fit: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
    z-index: 10;
  }
}
/*******************************************************************  CONTAINER SECTION START  *******************************************************************/
.container {
  margin-inline: auto;
  width: min(60%, 60em);
}
.container--narrow {
  max-width: 30em;
}
.container--100 {
  margin: 0;
  width: 100%;
}
.container--90 {
  margin: 0 auto;
  width: 90%;
}
.container--layout {
  position: static;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 0.75rem;

  * {
    flex-shrink: 1;
  }
}
.container--center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container--flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  gap: 0.5em;
}

/*******************************************************************  BUTTONS SECTION START  *******************************************************************/
.button {
  display: inline-block;
  border-radius: 1em;
  padding: 1em;
  font-size: initial;
  font-family: inherit;
  background-color: var(--main-2);
  border: none;
  cursor: pointer;
  color: var(--dark-text);

  &:hover,
  &:focus {
    filter: brightness(80%);
  }
}
.button--none {
  background-color: var(--transparent);
  padding: 0;
}
.button--form {
  background: none;
}
.button--flex {
  flex: 1 1 100%;
}
.button--container {
  padding: 0;
  margin: 1;
}
.button--danger {
  background-color: var(--danger);
}
.button--dark {
  background-color: var(--main-4);
  color: var(--light-text);
}
.button--success {
  background-color: var(--success);
}
.button--svg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  cursor: pointer;
  z-index: 20;
  transition: transform 0.25s, background-color 1.5s;
  border-radius: 100%;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.button--right {
  right: 1em;
}
.button--left {
  left: 1em;
}
.button--transparent {
  background: none;

  &:hover,
  &:focus {
    backdrop-filter: brightness(150%);
    filter: none;
  }
}
.button--small {
  padding-block: 0.85em;
}
// ok so this is weird, basically chrome applies invalid styles to all buttons inside a form that is invalid and I dont know why
// so this by passes that and only apply invalid styles to buttons that are NOT type button
:invalid button:not([type='button']) {
  background-color: var(--accent-primary);
  color: var(--light-text);
  border: 2px solid var(--secondary-1);
}

/*******************************************************************  CAROUSEL SECTION START  *******************************************************************/

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.carousel--linked {
  position: relative;
  display: flex;
  align-items: center;
}
.carousel__image {
  transition: opacity 0.3s ease-out;
  display: none;
}
.carousel__top {
  display: none;
}
.carousel__bottom {
  display: none;
}
.carousel__text {
  display: none;
}

/*******************************************************************  COMMENT SECTION START  *******************************************************************/
.comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  color: var(--dark-text);
  background-color: var(--main-2);
  border-radius: 1em;
  padding: 0.5rem;
  margin-top: 1rem;
}
.comment__picture {
  width: 3em;

  img {
    border: 2px solid var(--secondary-1);
    border-radius: 2em;
  }
}

.comment__main {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 80%;
}
.comment__aside {
  display: flex;
  margin-top: 0.25em;
}
.comment__aside__rating {
  display: flex;
  align-items: center;
  gap: 1em;
}
.comment__main__title {
  display: flex;
  flex-flow: row nowrap;
}
.comment__main__body {
  flex-basis: 100%;
  font-size: 0.75rem;
}

/* Label module */
.label {
  background: none;
  width: 3.5em;
  padding: 0;
  border: none;
  font: 1em;
  color: var(--light-text);
}

/* Input module */
.input {
  background: none;
  border: none;
  width: 100%;
  padding: 0.5em 0.5em 0.25em;
  padding-left: 0;
  color: var(--dark-text);
  font-family: inherit;
  &:focus {
    outline: none;
  }
  &:focus ~ .line .hidden {
    stroke-dasharray: 40;
    stroke-dashoffset: 0;
  }
}

/*******************************************************************  SVG SECTION  *******************************************************************/

.arrowDown {
  fill: var(--main-3);
}

.masonryFill {
  .g1 {
    fill: var(--main-3);
    stroke: var(--main-3);
  }
  .g2 {
    fill: var(--secondary-1);
    stroke: var(--secondary-1);
  }
}

.smallFill {
  .g1 {
    fill: var(--main-3);
  }
  .g2 {
    fill: var(--secondary-1);
  }
}

.largeFill {
  .g1 {
    fill: var(--main-3);
  }
  .g2 {
    fill: var(--secondary-1);
  }
}

.search {
  fill: var(--secondary-1);
  stroke: var(--secondary-1);
}

.cup {
  stroke-width: 0.5;
  stroke: var(--dark-text);

  &.light {
    stroke: var(--main-1);
  }
}

.cupFill {
  stroke-width: 0.5;
  stroke: var(--dark-text);
  .lid {
    fill: var(--main-1);
  }
  .cupHolder {
    fill: var(--main-1);
  }
  .body {
    fill: var(--secondary-1);
  }
}

.buttonSVG {
  .circle {
    stroke: var(--main-2);
  }
  .arrow {
    stroke: var(--secondary-1);
  }
}

.checkmark {
  .arrow {
    fill: var(--dark-text);
  }
  .circle {
    stroke: var(--dark-text);
  }
}

.upload {
  .arrow {
    fill: var(--dark-text);
  }
  .bottom {
    fill: var(--dark-text);
  }
}

.line {
  width: 100%;
  height: 2px;
  padding: 0;

  .default {
    stroke: var(--main-1);
  }
  .hidden {
    stroke: var(--secondary-2);
    transition: all 0.3s;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -20;
  }
}

// idk if i should keep these
.stars {
  fill: var(--rating);
}
.stars--parent {
  width: 6em;
  height: 1.5em;
}
.stars--outer {
  fill: var(--dark-text);
}
