<nav class="<%- nav %>">
  <ul>
    <li><a class="nav__el" href="/">
        <h1 class="inline navFont">Plates</h1>
      </a></li>
    <li><a class="nav__el" href="/coffeeshops">Home</a></li>
    <li class="justify-end margin-right">
      <a class="nav__user nav__user__a hide">
        <div class="login hide">Login</div>
      </a>
      <div class="nav__user nav__user__div hide">
        <div class="user hide">
          <div class="username"></div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.0001 13.8515L6.48512 8.2498V8.25C6.26252 8.03164 5.9431 7.94859 5.64459 8.03164C5.34628 8.11489 5.11313 8.35173 5.03115 8.65473C4.94939 8.95792 5.03115 9.28239 5.24613 9.50848L11.3805 15.7393C11.5448 15.9062 11.7676 16 12 16C12.2324 16 12.4552 15.9062 12.6195 15.7393L18.7539 9.50848C18.9688 9.28237 19.0506 8.95793 18.9688 8.65473C18.8869 8.35173 18.6537 8.11491 18.3554 8.03164C18.0569 7.94859 17.7375 8.03164 17.5149 8.25L12.0001 13.8515Z" fill="black" />
          </svg>
        </div>
        <div class="dropdown--content">
          <a class="dropdown--profile flex--centerAll">Profile</a>
          <form id="navForm" class="dropdown--logout flex--centerAll" action="/users/logout" method="POST" tabindex="0">
            <div id="submit" class="pointer text-center">Logout</div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</nav>